.note {
  /* background-color: #f2e9e4; */
  background-color: #f8f0fe;
  border-radius: 5px;
  height: 300px;
  padding: 15px;
  position: relative;
}

.note > h1,
.note-description {
  color: #1f1f1f;
  text-align: center;
}

.note > h1::-webkit-scrollbar,
.note-description::-webkit-scrollbar {
  width: 2px;
}

.note > h1::-webkit-scrollbar-thumb,
.note-description::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
}

.note > h1 {
  font-size: 1.5rem;
  height: 20%;
  overflow-y: scroll;
}

.note-description {
  max-height: 54%;
  overflow-y: auto;
}

.note-date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  font-size: 1rem;
}

.note-delete {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  font-size: 1rem;
}

.note-update {
  position: absolute;
  background: none;
  border: none;
  font-size: 1rem;
  top: 10px;
  right: 10px;
}

.note-cancel-update {
  position: absolute;
  background: none;
  border: none;
  font-size: 1rem;
  top: 10px;
  right: 10px;
}

.note-do-update {
  position: absolute;
  background: none;
  border: none;
  font-size: 1rem;
  bottom: 10px;
  right: 10px;
}

.none {
  display: none;
}

textarea {
  text-align: center;
}
