* {
  box-sizing: border-box;
  cursor: none;
}

*::selection {
  background: #e5e5e5;
}

body {
  background-color: #1f1f1f;
}

/* width */
body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #1f1f1f;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #e56b6f;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #f8f0fe;
}

#cursor {
  position: fixed;
  z-index: 1;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: -50px;
  left: -50px;
  background-color: #f8f0fe;
  mix-blend-mode: difference;
  pointer-events: none;
  box-sizing: content-box;
  transition: transform 0.16s ease-in-out;
}

.cursor-on-link {
  transform: scale(2);
}
